/* CSS for CrowdXBlock */

.crowdxblock_block .count {
    font-weight: bold;
}

.crowdxblock_block .feedback {
  border-style: solid;
  border-width: thin;
  border-color: rgb(200,200,200);
}

.crowdxblock_block .vote {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.hint_value{
  display: flex;
  margin-left: 10px;
  flex-flow: column;
}

.hint_used{
  flex-direction: row;
}

.crowdxblock_block .HintsToUse {
  background-color: #FF8;
}

.rate_hint {
  width: 100%;
  margin-left:auto;
  margin-right:auto;
}

d2[data-rate="flag"] {
     align-self: flex-end;
}

d1[data-rate="upvote"] {
    color: green;
    font-weight: bold;
    margin-right:15px;
}

d5[data-rate="downvote"] {
    color: red;
    font-weight: bold;
}

.rating{
    margin-right: 10px;
}

.rate_hint{ cursor: pointer }
.rate_hint{ color: #948f8f; }

.hintsarea {
  display: flex;
  flex-direction: colomn;
}

