/* CSS for CrowdsourceHinter */

.crowdsourcehinter_block .csh_feedback {
  border-style: solid;
  border-width: thin;
  border-color: rgb(200,200,200);
}

.crowdsourcehinter_block .csh_vote {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.csh_hint_value{
  display: flex;
  margin-left: 10px;
}

.csh_rating_data{
  width: 3%;
  vertical-align: middle;
}

.crowdsourcehinter_block .csh_HintsToUse {
  background-color: #FF8;
}

.csh_hint_reveal{
  display: flex;
  flex-direction: column;
}

.csh_HintQuickFeedback{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.csh_hint_data{
  justify-content: center;
  width: 97%;
  display: flex;
  flex-direction: column;
}

.csh_rate_hint {
  margin-right: 15px;
}

div[data-rate="flag"]{
    font-weight: bold;
}

div[data-rate="upvote"] {
    color: green;
    font-weight: bold;
}

div[data-rate="downvote"] {
    color: red;
    font-weight: bold;
}

.crowdsourcehinter_block .csh_flagged_hints {
    visibility: hidden;
    display: none;
}

.crowdsourcehinter_block_is_staff .csh_flagged_hints {
    visibility: visible;
}

.csh_rating{
    margin-right: 10px;
}

.csh_rate_hint{ cursor: pointer }
.csh_rate_hint{ color: #948f8f; }

.csh_hintsarea {
  display: flex;
  flex-direction: colomn;
}

