/* CSS for CrowdsourceHinter */

.crowdsourcehinter_block .csh_feedback {
}

.crowdsourcehinter_block .csh_vote {
  padding-top: 2px;
  padding-bottom: 2px;
}

.csh_hint_value{
  display: flex;
  margin-left: 10px;
  flex-direction: column;
}

.crowdsourcehinter_block {
}

.csh_hint_reveal{
  display: flex;
  flex-direction: column;
}

.csh_HintQuickFeedback{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.csh_hint_data{
  display: flex;
  flex-direction: column;
}

.csh_rating_data {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}

.csh_rate_hint {
  margin-right: 15px;
  margin-top: 5px;
  align-self: flex-end;
}

div[data-rate="flag"]{
    font-weight: bold;
}

.csh_student_hint_creation {
  height: 40px;
  vertical-align: middle;
  font-weight: 600;
  align-self: flex-end;
  box-shadow: 0px 0px 8px 4px #C7BEBE inset, 0px 0px 8px 4px #C7BEBE inset;
background-clip: padding-box;
font-size: 0.8125em;
}

div[data-rate="upvote"] {
    color: green;
    font-weight: bold;
}

div[data-rate="downvote"] {
    color: red;
    font-weight: bold;
}

.csh_flagged_hints {
    background-color: red;
}
.crowdsourcehinter_block .csh_flagged_hints {
    visibility: hidden;
    display: none;
}

.crowdsourcehinter_block_is_staff .csh_flagged_hints {
    visibility: visible;
}

.csh_rating{
    margin-right: 5px;
}

.csh_rate_hint{ cursor: pointer }
.csh_staff_rate{ cursor: pointer }
.csh_rate_hint{ color: #948f8f; }

.csh_hintsarea {
  display: flex;
  flex-direction: colomn;
}

.csh_student_text_input{
  width: 100%;
}

